.register-photo {
    background: #f1f7fc;
    padding: 80px 0;
    /* border:2px solid black; */
}

.register-photo .image-holder {
    display: table-cell;
    overflow: visible;
    width: auto;
    background: url(../../assets/imgs/tree\ logo.png) 0 0/cover;
    background-position-y: bottom;
    background-size: 90%;
    background-repeat: no-repeat;
}

.register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1)
}

.register-photo form {
    display: table-cell;
    width: 400px;
    background-color: #fff;
    padding: 40px 60px;
    color: #505e6c;
    /* border:2px solid black; */
}

@media (max-width:991px) {
    .register-photo form {
        padding: 40px
    }
}

.register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    color: inherit;
    text-indent: 6px;
    height: 40px
}

.register-photo form .form-check {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary {
    background: #f4476b;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: 0!important
}

.register-photo form .btn-primary:active, .register-photo form .btn-primary:hover {
    background: #eb3b60
}

.register-photo form .btn-primary:active {
    transform: translateY(1px);
}

.register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: .9;
    text-decoration: none;
}

.form-container{
    /* border:2px solid black; */
    /* padding: 40%; */
    /* height: 100vh; */
    overflow: visible;
}

/* .navbar{
    margin-top: -15vh;
} */

.back-btn{
    /* display: inline-block; */
    width: 30%;
    /* margin: 0 auto; */
    /* border: 2px solid black; */
    text-align: center;
    font-size: 2em;
}

.back-btn a{
    color:blue;
}

#login-btn button{
    background-color: rgb(214, 230, 245);
}

#login-btn button:hover{
    color: black;
}